ul {
	margin: 0;
	padding: 0;
	position: relative;
}

li {
	width: 254px;
	border: 1px solid #B3B2B2;
	height: 48px;
	float: left;
	color: #191919;
	font-style:italic;
	text-align: center;
	position: relative;
	overflow: hidden;
}

a {
	color: #FFF;
	text-decoration: none;
}

p {
	padding: 0px 5px;
}

.subtext {
	padding-top: 15px;
	position: relative;
}

/*Menu Color Classes*/
.green {
	background: #6AA63B;
}
.yellow {
	background: #FBC700;
}
.red {
	background: #D52100;
}
.purple {
	background: #5122B4;
}
.blue {
	background: #0292C0;
}