body {
	background-color: #3a3a3a;
}

#wrapper {
	width: 1024px;
	margin: 10px 10px 1% 2%;
	background-color: #8699A4;
	border: 1px solid #B3B2B2;
	float: left;
	-moz-border-radius: 10px 10px 10px 10px; /* Firefox */
	-webkit-border-radius: 10px 10px 10px 10px; /* Chrome, Safari */
	-khtml-border-radius: 10px 10px 10px 10px; /* Konqueror */
	border-radius: 10px 10px 10px 10px; /* CSS3 */
	behavior: url(border-radius.htc); /* Internet Explorer */
}

header {

	background-color: #62B200;
	float: left;
	width:1024px;
	height:150px;
	color: white;
	border-bottom: 1px solid #B3B2B2;
}

#logo {
	float: left;
	padding-bottom:0px;
}

nav {
	float: left;
	width: 1024px;
	border-top: 1px solid #B3B2B2;
}

#content {
	color: black;
	width: 994px;
	background-color: #C2CCD1;
	padding: 20px 20px 10px 10px;
	float: left;
	overflow: auto;
}

#desc {
	width: 604px;
	padding-right: 40px;
	text-align: right;
	float: left;
	font-size: 200%;
	font-family: "Arial Black,Times,serif";
}

#desc a {
	color: white;
	text-decoration: none;
}

#footer {
	width: 1014px;
	font-size: 10px;
	float: left;
	padding-left: 15px;
	padding-bottom: 5px;
}

#login {
	background-color: #B3B2B2;
	padding-top:5px;
	height: 25px;
	width: 100px;
	text-align: center;
	float: right;
	background-color: white;
	-moz-border-radius: 5px 0px 0px 0px; /* Firefox */
	-webkit-border-radius: 5px 0px 0px 0px; /* Chrome, Safari */
	-khtml-border-radius: 5px 0px 0px 0px; /* Konqueror */
	border-radius: 5px 0px 0px 0px; /* CSS3 */
	behavior: url(border-radius.htc); /* Internet Explorer */
}

#start {
	-moz-border-radius: 10px 0px 0px 0px; /* Firefox */
	-webkit-border-radius: 10px 0px 0px 0px; /* Chrome, Safari */
	-khtml-border-radius: 10px 0px 0px 0px; /* Konqueror */
	border-radius: 10px 0px 0px 0px; /* CSS3 */
	behavior: url(border-radius.htc); /* Internet Explorer */
}

#end {
	-moz-border-radius: 0px 10px 0px 0px; /* Firefox */
	-webkit-border-radius: 0px 10px 0px 0px; /* Chrome, Safari */
	-khtml-border-radius: 0px 10px 0px 0px; /* Konqueror */
	border-radius: 0px 10px 0px 0px; /* CSS3 */
	behavior: url(border-radius.htc); /* Internet Explorer */
}

#left {
	float: left;
	width: 200px;
}

#right {
	float: left;
	width: 200px;
}

h2:focus {
	color: white;
}

h2:hover {
	color: white;
}

h2:active {
	color: white;
}

h2 {
	margin-bottom:25px;
}

td {
	padding: 5px;
}

.menu {
	background-color: rgb(100%, 100%, 90%);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0%, 0%, 60%);
	padding: 5px;
	margin: 20px;
}

.menuitem {
	padding: 2px;
	border-bottom: 1px solid #ccc;
}

.menuitem:hover {
	cursor: pointer;
}

