body {
	background-color: #DEDEDE;
}

#wrapper {
	width: 1024px;
	margin: 10px 10px 1% 2%;
	background-color: #8699A4;
	border: 1px solid #B3B2B2;
	float: left;
	-moz-border-radius: 5px 10px 5px 10px; /* Firefox */
	-webkit-border-radius: 5px 10px 5px 10px; /* Chrome, Safari */
	-khtml-border-radius: 5px 10px 5px 10px; /* Konqueror */
	border-radius: 5px 10px 5px 10px; /* CSS3 */
	behavior: url(border-radius.htc); /* Internet Explorer */
}

header {

	background-color: #62B200;
	float: left;
	color: white;	
	border-bottom:  1px solid #B3B2B2;
	overflow: auto;
}

#logo {
	width: 400px;
	float: left;
	overflow: auto;
}

nav {
	background-image: url(../images/navbg.jpg);
	float: left;
	width: 1024px;
	height: 152px;
	border-top: 1px solid #B3B2B2;
	overflow: auto;
}

#content {
	color: black;
	width: 994px;
	background-color: #C2CCD1;
	padding: 20px 20px 10px 10px;
	float: left;
	overflow: auto;
}

#desc {
	width: 604px;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
	float: left;
	font-size: 200%;
	font-family: "Arial Black,Times,serif";
}

#desc a {
	color: white;
	text-decoration: none;
}

#footer {
	width: 1014px;
	font-size: 10px;
	float: left;
	padding-left: 15px;
	padding-bottom: 5px;
}

#login {
	background-color: #B3B2B2;
	height: 20px;
	width: 100px;
	text-align: center;
	float: right;
}

#left {
	float: left;
	width: 200px;
}

#right {
	float: left;
	width: 200px;
}

h2:focus {
	color: white;
}

h2:hover {
	color: white;
}

h2:active {
	color: white;
}

td.number {
	text-align: right;
}

.menu {
  background-color: rgb(100%, 100%, 90%);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0%, 0%, 60%);
  padding: 5px;
  margin: 20px;
}

.menuitem{
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.menuitem:hover{
  color: #f00;
  cursor: pointer;
}

